<div class="navbar-home">
    <span class="logo">ONI<span>FRA</span></span>
 
        <a href="/admin/deconnexion" class="deconnexion"><i class="fa  fa-sign-out"></i> Se deconnecter </i></a>       
</div>