<%if(error != '' ) { %>
    <div class="alert alert-danger"><%=error%></div>
<% } %>    

<form action="/reset/resetPass/ChangePass" method="POST">

    <input type="hidden" name="email" value="<%=email%>">
    <input type="password" name="password"><br>
    <input type="password" name="confirmPass"><br>
    <button type="submit">Confirmer</button>
    
</form>