<%for(let i = 0 ; i < bigDataEC.length ; i++) { %>
    <h3> UE : <%=dataUE[i].nom%></h3>
    <%for(item of bigDataEC[i]) { %>

        <a href="#">EC : <%=item.nom%></a><br>
    <% } %>    
<% } %>    